dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
language: node_js
notifications:
  email: true
node_js: 12.16
jobs:
  include:
  - stage: test
    script:
    - npm run build
    - npm run lint
    - npm run test
  - stage: deploy
    if: branch = master
    script: npm run deploy
env:
  - EMBER_VERSION=default